node_modules
.bash_history
.cache/
.config/
.java/
.lastStarted
.lesshst
.local/
.owner
.ssh/
.sudo_as_admin_successful
config.xml
hudson.model.UpdateCenter.xml
jenkins.telemetry.Correlator.xml
logs/
nodeMonitors.xml
queue.xml.bak
secret.key
secret.key.not-so-secret
secrets/
snap/
updates/
userContent/
users/
jenkins-ansible-docker/
war-build-docker/
